{% extends 'base.html.twig' %}

{% block title %}Hello CompteController!{% endblock %}

{% block body %}

    <table class="table">
        <thead>
        <tr>
            <th>Stock</th>
            <th>Photo</th>
            <th>action</th>
        </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>

        </tbody>
</table>

{% endblock %}
