{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <h1>L'acces est interdit du con</h1>
    <p><a href="{{ path('produit_index') }}">Retourne a l'aceuil chacal</a></p>
{% endblock %}
