{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<h1>Cette page n'existe plus tu es foutu</h1>
    <p><a href="{{ path('home') }}">Retourne a l'aceuil chacal</a></p>
{% endblock %}
